<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <RollingFile name="RollingFile" fileName="src/main/resources/logs/app-info.log"
                     filePattern="src/main/resources/logs/app-info-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="DebugFile" fileName="src/main/resources/logs/app-debug.log"
                     filePattern="src/main/resources/logs/app-debug-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] DEBUG %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="RollingFile"/>
        </Root>
         <Logger name="com.sam.RestDb.serice" level="DEBUG" additivity="false">
            <AppenderRef ref="DebugFile"/>
        </Logger>
    </Loggers>   
</Configuration>
